.vscode
binaries
pgns
obj
debug
tests
sprt.bat
*.d
*.o
*.obj
*.exe
*.bat
*.out
*.app
*.stackdump
*.epd
*.json
*.pgn
*.txt
*.json
Rice
*.sh
sprt.bat
sprt.sh
virinet.nnue
riceclang