.vscode
binaries
pgns
obj
debug
tests
sprt.bat
*.d
*.o
*.obj
*.exe
*.bat
*.out
*.app
*.stackdump
*.epd
*.json
*.pgn
*.txt
*.json
Rice
*.sh
sprt.bat
sprt.sh
virinet.nnue
riceclang
anet.nnue
letsee.nnue
nn69.nnue
nn420.nnue
onn.nnue
onn2.nnue